body{
  background:blue;
}
form label{
  display:block;
font-size:20px;
}
form label{
  display:block;
font-size:20px;
}
td{
  background:  rgb(82,13, 109);
  border: 3xp solid;
  border-style: double;
  color: pink;
  font
